# Node
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Build
dist
build
.swc

# Tests
coverage
.nyc_output

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.log
.cache
